<%= form_for @list do |f| %>
	
	<label>Title:
		<p><%= f.text_field :title %> </p>
	</label> 


	<label>Description:
		<p><%= f.text_area :description, :rows => 5, :cols => 10 %> </p>
	</label> 


	  <%= f.label :tag_list, "Tags (separated by commas)" %>
	  <br />
	  <%= f.text_field :tag_list %>



		<p><%= f.submit :class => "btn btn-large btn-primary"%> </p>


<% end %>
