<h1>All The Lists 
	<span class="pull-right">
		<%= link_to "add new list", new_list_path, :class => "btn btn-primary"  %>
	</span>

</h1>
<hr />


<ul id="all-lists">

<% @lists.each do |list| %>
		<li>
		 <h2>
			<%= link_to "#{list.title}", list_url(list) %> 
			<small><% if list.user %> by <%= link_to "#{list.user.name}", user_url(list.user) %><% end %></small> 
			<span class="pull-right">
				<small><%= list.items.count %> items</small>
			</span>
		</h2>
		
		<p class="well"><%= list.description %> 
			<% if list.user == current_user || list.user_id == nil %>
			<span class="pull-right">
					<%= link_to "edit", edit_list_url(list) %>
					<% if user_signed_in? && list.user == current_user || user_signed_in? && current_user.has_role?(:admin) %>
						 | <%= link_to "delete", list_url(list), :method => :delete %>
					<% end %>
				</span>
			<% end %>
		</p>
		</li>
<% end %>

</ul>

