
<h1><%= @user.name %>'s Lists</h1>
<hr />

<ul id="users-lists">

<% @user_lists.each do |list| %>
	<%  if list.published || user_signed_in? && list.user == current_user || user_signed_in? && current_user.has_role?(:admin) %>
		<li class="row">
			<h2 >
				<%= link_to "#{list.title}", list_path(list) %> 
				
				<span class="pull-right" id="meta-data">	
							
							<label class="label">
									<i class="icon-th-list icon-white"></i>
									<%= pluralize(list.items.count, 'item') %>
							</label>
							<label class="label label-warning">
									<i class="icon-flag icon-white"></i>
									<%= list.items.count - list.items.completed.count %>
							</label>
							<label class="label label-success">
									<i class="icon-ok icon-white"></i>
									<%= list.items.completed.count %>
							</label>
							
						
					</small>
				</span>
		</h2>
			<p class="well">
				<%= list.description %>
				<% if list.user == current_user || list.user_id == nil %>
					<span class="pull-right">
						<%= link_to "edit", edit_list_url(list) %>
						<% if user_signed_in? && list.user == current_user || user_signed_in? && current_user.has_role?(:admin) %>
							 | <%= link_to "delete", list_url(list), :method => :delete %>
						<% end %>
					</span>
				<% end %>
			</p>
			<span class="pull-left" id="meta-data">
						<small>

							<% if list.published %>
								<label class="label label-success">
										<i class="icon-globe icon-white"></i> Public
								</label>
							<% end %>

							<%= raw list.tags.map(&:name).map { |t| link_to raw("<i class='icon-tag icon-white'></i> #{t}"),  tag_path(t), :class => "label" }.join('  ') %>
				</span>
		</li>
	<% end %>
<% end %>	

</ul>

<%= paginate @user_lists, :left => 1, :right => 3 %>